@page
@model Building33MockApi.Pages.MessagesModel
@{
       
            <h1>Building 33 Mock Api Messages</h1>
            @if (Model.Messages.Count > 0)
            {
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <colgroup>
                            <col class="twenty" />
                            <col class="eighty" />
                        </colgroup>
                        <tbody>
                            
                            @foreach (var message in Model.Messages.OrderByDescending(m => m.Key))
                            {
                                <tr>
                                    <td>@message.Key</td>
                                    <td>@message.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>No messages received</p>
            }
}
